<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['User_names','User_lastnames','country.User_names','representative.User_names','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="ID">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Users</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />

                        </span>
                        <div class="my-2">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="openNew()"></button>
                            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                                (click)="deleteSelectedUsers()"
                                [disabled]="!selectedUsers || !selectedUsers.length"></button>
                        </div>
                    </div>

                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="ID">Code <p-sortIcon field="ID"></p-sortIcon></th>
                        <th pSortableColumn="User_identification">Identification <p-sortIcon field="User_identification"></p-sortIcon></th>
                        <th pSortableColumn="User_names">Names <p-sortIcon field="User_names"></p-sortIcon></th>
                        <th pSortableColumn="User_lastnames">Lastnames <p-sortIcon field="User_lastnames"></p-sortIcon></th>
                        <th pSortableColumn="User_phone">Phone <p-sortIcon field="User_phone"></p-sortIcon></th>
                        <th pSortableColumn="User_address">Address <p-sortIcon field="User_address"></p-sortIcon></th>
                        <th pSortableColumn="User_username">Username<p-sortIcon field="User_username"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{user.ID}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Identification</span>
                            {{user.User_identification}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Names</span>
                            {{user.User_names}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Lastnames</span>
                            {{user.User_lastnames}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Phone</span>
                            {{user.User_phone}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Address</span>
                            {{user.User_address}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Username</span>
                            {{user.User_username}}
                        </td>
                       

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editUser(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteUser(user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="identification">Identification</label>
                    <input type="text" pInputText id="identification" [(ngModel)]="user.User_identification"  />                   
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_identification">Identification is required.</small> 
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Names</label>
                        <input type="text" pInputText id="name" [(ngModel)]="user.User_names"  />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_names">Names is required.</small>
                    </div>
                    <div class="field col">
                        <label for="lastnames">Lastnames</label>
                        <input type="text" pInputText id="lastnames" [(ngModel)]="user.User_lastnames" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_lastnames">Lastnames is required.</small>
                    </div>
                </div>
                <div class="field">
                    <label for="addres">Address</label>
                    <input type="text" pInputText id="address" [(ngModel)]="user.User_address"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_address">Address is required.</small>
                </div>
                <div class="field">
                    <label for="phone">Phone</label>
                    <input type="text" pInputText id="phone" [(ngModel)]="user.User_phone"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_phone">Phone is required.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="username">Username</label>
                        <input type="text" pInputText id="username" [(ngModel)]="user.User_username"  />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_phone">Phone is required.</small> -->
                    </div>
                    <div class="field col">
                        <label for="password">Password</label>
                        <input type="text" pInputText id="password" [(ngModel)]="user.User_password" />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_ruc">RUC is required.</small> -->
                    </div>
                </div>
                
                <!-- <div class="field">
                    <label for="userID">Main User ID</label>
                    <p-inputNumber id="userID" [(ngModel)]="user.UserID"></p-inputNumber>
                    
                </div> -->
               


            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveUser()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="editUserDialog" [style]="{width: '450px'}" header="User Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="identification">Identification</label>
                    <input type="text" pInputText id="identification" [(ngModel)]="user.User_identification"  />                   
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_identification">Identification is required.</small> 
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Names</label>
                        <input type="text" pInputText id="name" [(ngModel)]="user.User_names"  />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_names">Names is required.</small>
                    </div>
                    <div class="field col">
                        <label for="lastnames">Lastnames</label>
                        <input type="text" pInputText id="lastnames" [(ngModel)]="user.User_lastnames" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_lastnames">Lastnames is required.</small>
                    </div>
                </div>
                <div class="field">
                    <label for="addres">Address</label>
                    <input type="text" pInputText id="address" [(ngModel)]="user.User_address"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_address">Address is required.</small>
                </div>
                <div class="field">
                    <label for="phone">Phone</label>
                    <input type="text" pInputText id="phone" [(ngModel)]="user.User_phone"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_phone">Phone is required.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="username">Username</label>
                        <input type="text" pInputText id="username" [(ngModel)]="user.User_username"  />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_phone">Phone is required.</small> -->
                    </div>
                    <div class="field col">
                        <label for="password">Password</label>
                        <input type="text" pInputText id="password" [(ngModel)]="user.User_password" />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.User_ruc">RUC is required.</small> -->
                    </div>
                </div>
                

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveEditUser()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">Are you sure you want to delete <b>{{user.User_name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUsersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected users?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUsersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>