<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="transactions" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['Users.User_names']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedTransactions" selectionMode="multiple" [rowHover]="true" dataKey="ID">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Transactions</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />

                        </span>
                        <div class="my-2">
                            <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="openNew()"></button>
                            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                                (click)="deleteSelectedTransactions()"
                                [disabled]="!selectedTransactions || !selectedTransactions.length"></button> -->
                        </div>
                    </div>

                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="ID">Code <p-sortIcon field="ID"></p-sortIcon></th>
                        <th pSortableColumn="Users.User_names">Cliente <p-sortIcon field="Users.User_names"></p-sortIcon></th>
                        <th pSortableColumn="Tran_date">Fecha <p-sortIcon field="Tran_date"></p-sortIcon></th>
                        <th pSortableColumn="Tran_Total">Total <p-sortIcon field="Tran_Total"></p-sortIcon></th>
                        <th pSortableColumn="Users2.User_names">Vendedor <p-sortIcon field="Users2.User_names"></p-sortIcon></th>

                        
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transaction>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="transaction"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{transaction.ID}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cliente</span>
                            {{transaction.Users.User_names}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha</span>
                            {{transaction.Tran_date}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Total</span>
                            {{transaction.Tran_Total}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Vendedor</span>
                            {{transaction.Users2.User_names}}
                        </td>
              
                        <td>
                            <div class="flex">
                                <!-- <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editTransaction(transaction)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2"
                                    (click)="deleteTransaction(transaction)"></button> -->
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info "
                                [routerLink]="['/management/transactiondetail',transaction.ID]"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="transactionDialog" [style]="{width: '450px'}" header="Transaction Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="antenna">Antenna</label>
                    <input type="text" pInputText id="antenna" [(ngModel)]="transaction.Dev_antenna"  />                   
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !transaction.Dev_antenna">Antenna is required.</small> 
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="lenght">Lenght</label>
                        <!-- <input type="text" pInputText id="length" [(ngModel)]="binnacle.Bin_length"  /> -->
                        <p-inputNumber format="decimal" [minFractionDigits]="6" [maxFractionDigits]="6" id="lenght" [(ngModel)]="binnacle.Bin_lenght"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !binnacle.Bin_lenght ">Names is required.</small>
                    </div>
                    <div class="field col">
                        <label for="latitude">Latitude</label>
                        <!-- <input type="text" pInputText id="latitude" [(ngModel)]="binnacle.Bin_latitude " /> -->
                        <p-inputNumber format="decimal" [minFractionDigits]="6" [maxFractionDigits]="6"  id="latitude" [(ngModel)]="binnacle.Bin_latitude"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !binnacle.Bin_latitude ">Lastnames is required.</small>
                    </div>
                </div>
                <div class="field">
                    <label for="description">Description Binnacle</label>
                    <input type="text" pInputText id="description" [(ngModel)]="binnacle.Bin_description"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !binnacle.Bin_description">Address is required.</small>
                </div>
                
                <!-- <div class="field">
                    <label for="transactionID">Main Transaction ID</label>
                    <p-inputNumber id="transactionID" [(ngModel)]="transaction.TransactionID"></p-inputNumber>
                    
                </div> -->
               


            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveTransaction()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="editTransactionDialog" [style]="{width: '450px'}" header="Transaction Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="identification">Identification</label>
                    <input type="text" pInputText id="identification" [(ngModel)]="transaction.Dev_identification"  />                   
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !transaction.Dev_identification">Identification is required.</small> 
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Names</label>
                        <input type="text" pInputText id="name" [(ngModel)]="transaction.Dev_names"  />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !transaction.Dev_names">Names is required.</small>
                    </div>
                    <div class="field col">
                        <label for="lastnames">Lastnames</label>
                        <input type="text" pInputText id="lastnames" [(ngModel)]="transaction.Dev_lastnames" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !transaction.Dev_lastnames">Lastnames is required.</small>
                    </div>
                </div>
                <div class="field">
                    <label for="addres">Address</label>
                    <input type="text" pInputText id="address" [(ngModel)]="transaction.Dev_address"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !transaction.Dev_address">Address is required.</small>
                </div>
                <div class="field">
                    <label for="phone">Phone</label>
                    <input type="text" pInputText id="phone" [(ngModel)]="transaction.Dev_phone"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !transaction.Dev_phone">Phone is required.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="transactionname">Transactionname</label>
                        <input type="text" pInputText id="transactionname" [(ngModel)]="transaction.Dev_transactionname"  />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !transaction.Dev_phone">Phone is required.</small> -->
                    </div>
                    <div class="field col">
                        <label for="password">Password</label>
                        <input type="text" pInputText id="password" [(ngModel)]="transaction.Dev_password" />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !transaction.Dev_ruc">RUC is required.</small> -->
                    </div>
                </div>
                

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveEditTransaction()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTransactionDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="transaction">Are you sure you want to delete <b>{{transaction.Dev_name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteTransactionDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTransactionsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected transactions?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteTransactionsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>