<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table
                #dt
                [value]="transactions"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['Users.User_names']"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedTransactions"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="ID"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Manage Transactions</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                        <div class="my-2">
                            <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="openNew()"></button>
                            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                                (click)="deleteSelectedTransactions()"
                                [disabled]="!selectedTransactions || !selectedTransactions.length"></button> -->
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="ID">
                            Code <p-sortIcon field="ID"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Users.User_names">
                            Vendedor
                            <p-sortIcon field="Users.User_names"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Tran_date">
                            Fecha <p-sortIcon field="Tran_date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Tran_Total">
                            Total <p-sortIcon field="Tran_Total"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Users2.User_names">
                            Cliente
                            <p-sortIcon field="Users2.User_names"></p-sortIcon>
                        </th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transaction>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="transaction"
                            ></p-tableCheckbox>
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Code</span>
                            {{ transaction.ID }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Vendedor</span>
                            {{ transaction.Users.User_names }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Fecha</span>
                            {{ transaction.Tran_date }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Total</span>
                            {{ transaction.Tran_Total }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Cliente</span>
                            {{ transaction.Users2.User_names }}
                        </td>

                        <td>
                            <div class="flex">
                                <!-- <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editTransaction(transaction)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2"
                                    (click)="deleteTransaction(transaction)"></button> -->
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-eye"
                                    class="p-button-rounded p-button-info"
                                    [routerLink]="[
                                        '/management/transactiondetail',
                                        transaction.ID
                                    ]"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<google-map width="100%" [center]="{lat: -2.9005, lng: -79.0045}" [zoom]="14">
                <map-marker *ngFor="let location of mainlocation" [position]="{lat: location.lat, lng: location.lng}" [label]="location.name"></map-marker>
                <map-marker *ngFor="let location of locations" [position]="{lat: location.lat, lng: location.lng}" [label]="location.name"></map-marker>
            </google-map>
            <!-- <div  id="map"></div>
            <div id="indicators"></div> -->
			
		</div>
	</div>
</div>
