<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="unit_measures" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['Unit_measure_names','Unit_measure_lastnames','country.Unit_measure_names','representative.Unit_measure_names','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedUnit_measures" selectionMode="multiple" [rowHover]="true" dataKey="ID">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Unit_measures</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />

                        </span>
                        <div class="my-2">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="openNew()"></button>
                            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                                (click)="deleteSelectedUnit_measures()"
                                [disabled]="!selectedUnit_measures || !selectedUnit_measures.length"></button>
                        </div>
                    </div>

                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="ID">Code <p-sortIcon field="ID"></p-sortIcon></th>
                        <th pSortableColumn="Unit_measure_identification">Identification <p-sortIcon field="Unit_measure_identification"></p-sortIcon></th>
                        <th pSortableColumn="Unit_measure_names">Names <p-sortIcon field="Unit_measure_names"></p-sortIcon></th>
                        <th pSortableColumn="Unit_measure_lastnames">Lastnames <p-sortIcon field="Unit_measure_lastnames"></p-sortIcon></th>
                        <th pSortableColumn="Unit_measure_phone">Phone <p-sortIcon field="Unit_measure_phone"></p-sortIcon></th>
                        <th pSortableColumn="Unit_measure_address">Address <p-sortIcon field="Unit_measure_address"></p-sortIcon></th>
                        <th pSortableColumn="Unit_measure_unit_measurename">Unit_measurename<p-sortIcon field="Unit_measure_unit_measurename"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-unit_measure>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="unit_measure"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{unit_measure.ID}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Identification</span>
                            {{unit_measure.Unit_measure_identification}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Names</span>
                            {{unit_measure.Unit_measure_names}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Lastnames</span>
                            {{unit_measure.Unit_measure_lastnames}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Phone</span>
                            {{unit_measure.Unit_measure_phone}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Address</span>
                            {{unit_measure.Unit_measure_address}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Unit_measurename</span>
                            {{unit_measure.Unit_measure_unit_measurename}}
                        </td>
                       

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editUnit_measure(unit_measure)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteUnit_measure(unit_measure)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="unit_measureDialog" [style]="{width: '450px'}" header="Unit_measure Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="identification">Identification</label>
                    <input type="text" pInputText id="identification" [(ngModel)]="unit_measure.Unit_measure_identification"  />                   
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_identification">Identification is required.</small> 
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Names</label>
                        <input type="text" pInputText id="name" [(ngModel)]="unit_measure.Unit_measure_names"  />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_names">Names is required.</small>
                    </div>
                    <div class="field col">
                        <label for="lastnames">Lastnames</label>
                        <input type="text" pInputText id="lastnames" [(ngModel)]="unit_measure.Unit_measure_lastnames" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_lastnames">Lastnames is required.</small>
                    </div>
                </div>
                <div class="field">
                    <label for="addres">Address</label>
                    <input type="text" pInputText id="address" [(ngModel)]="unit_measure.Unit_measure_address"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_address">Address is required.</small>
                </div>
                <div class="field">
                    <label for="phone">Phone</label>
                    <input type="text" pInputText id="phone" [(ngModel)]="unit_measure.Unit_measure_phone"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_phone">Phone is required.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="unit_measurename">Unit_measurename</label>
                        <input type="text" pInputText id="unit_measurename" [(ngModel)]="unit_measure.Unit_measure_unit_measurename"  />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_phone">Phone is required.</small> -->
                    </div>
                    <div class="field col">
                        <label for="password">Password</label>
                        <input type="text" pInputText id="password" [(ngModel)]="unit_measure.Unit_measure_password" />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_ruc">RUC is required.</small> -->
                    </div>
                </div>
                
                <!-- <div class="field">
                    <label for="unit_measureID">Main Unit_measure ID</label>
                    <p-inputNumber id="unit_measureID" [(ngModel)]="unit_measure.Unit_measureID"></p-inputNumber>
                    
                </div> -->
               


            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveUnit_measure()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="editUnit_measureDialog" [style]="{width: '450px'}" header="Unit_measure Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="identification">Identification</label>
                    <input type="text" pInputText id="identification" [(ngModel)]="unit_measure.Unit_measure_identification"  />                   
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_identification">Identification is required.</small> 
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Names</label>
                        <input type="text" pInputText id="name" [(ngModel)]="unit_measure.Unit_measure_names"  />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_names">Names is required.</small>
                    </div>
                    <div class="field col">
                        <label for="lastnames">Lastnames</label>
                        <input type="text" pInputText id="lastnames" [(ngModel)]="unit_measure.Unit_measure_lastnames" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_lastnames">Lastnames is required.</small>
                    </div>
                </div>
                <div class="field">
                    <label for="addres">Address</label>
                    <input type="text" pInputText id="address" [(ngModel)]="unit_measure.Unit_measure_address"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_address">Address is required.</small>
                </div>
                <div class="field">
                    <label for="phone">Phone</label>
                    <input type="text" pInputText id="phone" [(ngModel)]="unit_measure.Unit_measure_phone"  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_phone">Phone is required.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="unit_measurename">Unit_measurename</label>
                        <input type="text" pInputText id="unit_measurename" [(ngModel)]="unit_measure.Unit_measure_unit_measurename"  />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_phone">Phone is required.</small> -->
                    </div>
                    <div class="field col">
                        <label for="password">Password</label>
                        <input type="text" pInputText id="password" [(ngModel)]="unit_measure.Unit_measure_password" />
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !unit_measure.Unit_measure_ruc">RUC is required.</small> -->
                    </div>
                </div>
                

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveEditUnit_measure()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUnit_measureDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="unit_measure">Are you sure you want to delete <b>{{unit_measure.Unit_measure_name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUnit_measureDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUnit_measuresDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected unit_measures?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUnit_measuresDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>