<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="inventory_details" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['Dev_anntena']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedInventories" selectionMode="multiple" [rowHover]="true" dataKey="ID">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Transaction Details</h5>
                        
                    </div>

                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="ID">Code <p-sortIcon field="ID"></p-sortIcon></th>
                        <th pSortableColumn="Product.Pro_name">Product <p-sortIcon field="Product.Pro_name"></p-sortIcon></th>
                        <th pSortableColumn="Inv_det_count">Amount <p-sortIcon field="Tran_date"></p-sortIcon></th>
         
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inventory>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="inventory"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{inventory.ID}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cliente</span>
                            {{inventory.Product.Pro_name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha</span>
                            {{inventory.Inv_det_count}}
                        </td>
                        
              
                        
                    </tr>
                </ng-template>
            </p-table>
        </div>

        
    </div>
</div>