<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <h2>New Transaction</h2>
            <p-divider type="solid"></p-divider>

            <div
                class="flex flex-column md:flex-row md:justify-content-between gap-2"
            >
                <span class="p-input-icon-left">
                    <h4>Transaction Details</h4>
                </span>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-print"
                    (click)="saveTransaction()"
                ></button>
            </div>

            <p-divider type="solid"></p-divider>

            <div class="p-fluid p-formgrid grid">
             

                <div class="field col-12 md:col-4">
                    <label htmlFor="client"><strong>Client</strong></label>
                    <p-dropdown
                        [options]="users"
                        [showClear]="false"
                        [showClear]="true"
                        [(ngModel)]="selectedUser"
                        optionLabel="User_names"
                        [filter]="true"
                        filterBy="User_names,User_lastnames"
                        placeholder="Select Client"
                    >
                        <ng-template pTemplate="selectedItem">
                            <div
                                class="flex align-items-center gap-2"
                                *ngIf="selectedUser"
                            >
                                <div>
                                    {{ selectedUser.User_names }}
                                    {{ selectedUser.User_lastnames }}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-user pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>
                                    {{ user.User_names }}
                                    {{ user.User_lastnames }}
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="zip">Date</label>
                    <p-calendar
                        [(ngModel)]="date"
                        [disabled]="true"
                        [showIcon]="true"
                    ></p-calendar>
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="code">Transaction Nº</label>
                    <input pInputText id="code" value="" type="text" />
                </div>
            </div>
            <p-divider type="solid"></p-divider>

            <p-table
                #dt
                [value]="transaction_details"
                [columns]="cols"
                responsiveLayout="scroll"
                styleClass="p-datatable-striped"
                [tableStyle]="{ 'min-width': '60rem' }"
                dataKey="ID"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th>Code</th> -->
                        <th>Product</th>
                        <th>Quantity</th>
                        
                        <th>Unit Price</th>
                        <th>Tax</th>
                        <th>SubTotal</th>
                        <th style="width: 5rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transaction_detail let-editing="editing">
                    <tr>
                        <td [pEditableColumn]="transaction_detail.Product.Pro_name" pEditableColumnField="product">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="transaction_detail.Product.Pro_name" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ transaction_detail.Product.Pro_name }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        
                        <td [pEditableColumn]="transaction_detail.Tran_det_mount" pEditableColumnField="mount">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="transaction_detail.Tran_det_mount" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ transaction_detail.Tran_det_mount }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="transaction_detail.Product.Pro_price" pEditableColumnField="price">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="transaction_detail.Product.Pro_price" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ transaction_detail.Product.Pro_price }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        
                        <td>
                            <span class="p-column-title">tax</span>
                            {{transaction_detail.Product.Tax.Tax_rate}}
                        </td>
                        <td [pEditableColumn]="transaction_detail.Tran_det_subtotal" pEditableColumnField="subtotal">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="transaction_detail.Tran_det_subtotal" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ transaction_detail.Tran_det_subtotal }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="width: 5rem">
                            <button
                                pButton
                                pRipple
                                type="button"
                                [icon]="'pi pi-trash'"
                                (click)="toggleLock(customer, true, index)"
                                class="p-button-sm p-button-text"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <!-- <tr>
                        <td class="text-right" colspan="4">
                            <span>Net $</span>
                        </td>
                        <td>
                            <span>0.00</span>
                            
                        </td>
                        <td></td>
                    </tr> -->

                    <tr>
                        <td class="text-right" colspan="4">
                            <span>Total </span>
                        </td>
                        <td>
                            <span class="p-column-title"></span>
                            $ {{total}}
                        </td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card"></div>
    </div>
</div>
